@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Delius+Swash+Caps&family=Indie+Flower&family=Italianno&family=Libre+Barcode+128+Text&family=Neonderthaw&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.head{
  background-image: url("../images/variety/fn1.jpeg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  /* position: relative; */
  position: relative;
  overflow-x: hidden;
  background-repeat: no-repeat;
  font-family: 'Caveat', cursive;
}
.nav{
  height: 15vh;
    /* opacity: 0.5; */
  position: fixed;
  font-size: 30px;
  padding-top: 25px;
  font-family: 'Caveat', cursive;
  background-color: orange;
}
.nav a{
  color: white;
  text-decoration: none;
}
.who{
  margin-left: 350px;
}
.word{
  padding-top: 150px;
  color: white;
  font-size: 24px;
  font-weight: 900;
  color: white;
  /* text-align: center; */
}
#order{
  background-image: url("../images/variety/lol.jpeg");
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  /* position: relative; */ 
  background-repeat: no-repeat;
  background-color: black;
}
#order h4{
  margin-top: 80px;
}
.arrow a{
  font-size: 50px;
  font-weight: 900;
  color: orange;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}
#orderbtn{
  padding: 12px;
  color: white;
  font-size: 20px;
  border-radius: 15px 15px 0px 15px;
  background-color: orange;
  font-size: 25px;
}
#overlay{
  height: 85vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 30px;
    padding-left: 6%;
    color: white; 
    background-attachment:local;
  } 
  #variety{
    border: 2px solid green;
    /* background-color: green; */
    /* color: white; */
    margin-top: 30px;
    flex-wrap: wrap;
  }
  #send, #neworder{
    border-radius: 5px;
    padding: 5px;
    background-color: green;
  }
  #pizza, #topping, #crust, #quantity{
    width: 400px;
    height: 40px;
    padding: 4px;
  }
  .display{

    color: orange;
  }
  .userdeliver, #home, #grand, .checkout, #neworder, .pdelivery{
    display: none;
  }
  .imall{
    margin-left: 180px;
  }
  .grandorder{
    color: green;
  }
  /* .map{position:relative;text-align:right;height:300px;width:100px;} */
  #themap {background:none!important;height:300px;width:700px;}

  .map-l{
    margin-left: 300px;
  }
  #contact{
    background-color: orange;
  }
  
  @media only screen and (max-width: 400px){
    .nav, .head, .word{
      height: auto;
    }
    .word h2{
      margin-top: 30px;
    }
    .imall{
      height: 200px;
      width: 300px;
      margin-left: 0px;
      text-align: center;

    }
    #order, #overlay{
      height: auto;
    }
    .map{
      width: 100%;
      margin-left: 0px;
    }
    #location{
      height: auto;
      width: 100%;
      text-align: center;
    }
    #orderbtn{
      margin-left: 70px;
    }
  }

















